// .show-container {
//   margin: 20px;
//   background-image: linear-gradient(rgba(0,0,0,0.1),rgba(1,0,0,0.1)), url("https://res.cloudinary.com/beartechnologies/image/upload/v1558522117/BearBnB/Screenshot_2019-05-22_at_12.46.02_cftptl.png");
// }

$box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);

.card-product-header_1 {
  box-shadow: $box-shadow;
  width: 500px;
  padding: 8px;
  margin-bottom: 30px;
  background-color: $light-gray;
  border-radius: 10px;
  color: #FC1014;
  text-align: center;
  text-transform: uppercase;
}

.card-product-fish-h2 {
  text-align: center;
  text-transform: uppercase;
}

.card-product-arrow {
  font-size: 100px;
  text-align: center;
  i {
    animation-name: arrowwobble;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  @keyframes arrowwobble {
  0%{color: red}
  50%{color: black}
  100%{color: red}
  }
  &:hover {
    color: #FC1014;
  }
}

.cave_img {
  box-shadow: $box-shadow;
  height: 500px;
  width: 100vw;
  object-fit: cover;
  margin-bottom: 15px;
}

.card-product-content {
  box-shadow: $box-shadow;
  width: 500px;
  background-color: $light-gray;
  border-radius: 10px;
  margin-bottom: 25px;
  li {
  padding: 5px;
  list-style: none;
  }
}

.fish-btn {
  font-size: 150px;
  color: #FC1014;
  transition: ease-in-out 0.5s;
  &:hover {
    color: #FC8588;
  }
  .wobble {
    animation-name: fishwobble;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}

.card-product-btn {
  position: relative;
}

.fish-btn-text {
  position: absolute;
  font-size: 27px;
  top: 91px;
  color: white;
  left: 9px;
}

.fish-animation {
  animation-name: fishwobble;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes fishwobble {
  0%{transform: rotate(0deg)}
  50%{transform: rotate(20deg)}
  100%{transform: rotate(0deg)}
}

.woobbly-card {
  box-shadow: $box-shadow;
  width: 500px;
  height: 350px;
  padding: 8px;
  background-color: $light-gray;
  border-radius: 10px;
  color: black;
  margin-bottom: 150px;
}
