.container{
  max-width: 1400px;
}

.row {
  margin: 15px 0px 15px 0px;
}

.title-right {
  display: grid;
  grid-template-columns: 6fr;
  grid-gap: 5px;
  height: 100%;
  width: 100%;
  padding: 16px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.title-left {
  display: grid;
  grid-template-columns: 6fr;
  grid-gap: 5px;
  height: 100%;
  width: 100%;
  padding: 16px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
