$box-shadow: 1px 1px 1px rbga(0,0,0,0.1);

#bear {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: $box-shadow;
}

.confirmation-card {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.confirmation-message {
  margin-top: 25px;
}
