<div class="card-trip">
           <% if cave.photo == nil %>
              <img src="https://images.unsplash.com/photo-1554052199-8a7788f67994?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80">
           <% else %>
              <%= cl_image_tag cave.photo, class: "cave_img"%>
           <% end %>
            <div class="card-trip-infos">
              <div>
                <h2><%= cave.address %></h2>
              </div>
              <h2 class="card-trip-pricing"><%= cave.price_per_night %>  <i class="fas fa-fish fish-animation"></i></h2>
              <img src="https://res.cloudinary.com/beartechnologies/image/upload/v1558452206/BearBnB/bearbnb1_hrs7kx.png" class="card-trip-user avatar-bordered"/>
            </div>
          </div>
