<div class="container" style="background-image: linear-gradient(to right, rgba(273,273,273,0.1),rgba(273,273,273,0.1)), url(https://res.cloudinary.com/beartechnologies/image/upload/v1558535744/BearBnB/photo-1556503868-012fa6d205b5_djstgg.jpg);">
  <br>
  <h1>New Cave</h1>

    <%= render 'form' %>

  <br>

  <%= link_to "back to caves", caves_path, class: "btn btn-light" %>
  <br>
  <br>
</div>

