<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://www.biologicaldiversity.org/assets/img/species/mammals/GrizzlyBearRobinSilver.jpg);">
  <div class="container">
    <h1>Bear BnB <strong>brings caves</strong> to <strong>sleepy bears</strong>!</h1>
    <p>Are you a tired and grumpy bear who needs to hibernate?</p>
    <br>
    <%= link_to "Explore caves", caves_path, class: "btn btn-danger" %>
  </div>
</div>

