.dashboard-card {
  display: grid;
  grid-template-columns: 6fr;
  grid-gap: 5px;
  background-image: linear-gradient(to left, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://images.unsplash.com/photo-1542243337-8a2c60753f6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  padding: 16px;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  margin-top: 10px;

}

.dashboard-card li {
  list-style-type: none;
}
