.content-index {
  display: flex;
  margin-top: 15px;
}

.card-trip {
  overflow: hidden;
  background: #F4F4F4;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 15px;
  border-radius: 10px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  color: $bearbnb;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: black;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -188px;
  width: 40px;
}

.cards-index {
  flex: 1;
  padding-left: 10px;
  padding-right: 15px;
}

canvas {
  padding-right: 10px;
  border-radius: 10px;
}

.fish-animation {
  animation-name: fishwobble;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes fishwobble {
  0%{transform: rotate(0deg)}
  50%{transform: rotate(20deg)}
  100%{transform: rotate(0deg)}
}

a:hover {
  text-decoration: none;
}

#map {
  margin-top: 70px;
}
