.reservation-card {
  display: grid;
  grid-template-columns: 6fr;
  grid-gap: 5px;
  height: 100%;
  padding: 0px 25px;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-grow: 1;

}

.reservation-card li {
  list-style-type: none;
}

.card-details {
  background-color: white;
  padding: 16px;
  display: flex;
  align-items: flex-start;
  position: relative;

}

.reservation-dates {
  padding: 16px;
  position: relative;
  background-color: white;
  color: black
}

.reservation-buttons  {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: relative;
}


