.card-details {
  display: grid;
  grid-template-columns: 6fr;
  grid-gap: 5px;
  height: 100%;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
  background-color: white;
  padding: 16px;
  align-items: flex-start;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.card-details li {
  list-style-type: none;
}


.reservation-dates {
  padding: 5px;
  position: relative;
  background-color: white;
  color: black
}

.reservation-buttons  {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: relative;
}


